<div class="contents row">
  <div class="container">
    <p><%= @name %>さんの投稿一覧</p>

    <% @posts.each do |post| %>
      <%= simple_format(post.title) %>
      <%= post.file %>
      <%= simple_format(post.detail) %>
      <hr>
    <% end %>
    <%= paginate(@posts) %>
  </div>
</div>