<div class="contents row">
  <div class="container mt-4">
    <p><span><%= @name %></span>さんの投稿一覧</p>

    <% @posts.each do |post| %>

    <div class="bg-back-light">
      <span>タイトル：</span><%= post.title %><p></p>
      <%= simple_format(post.detail) %>
      <%= audio_tag post.file, controls: true %><p>
      <%= link_to '詳細', "/posts/#{post.id}", method: :get, class: 'btn btn-primary'%>
    </div>

      <% if user_signed_in? && current_user.id == post.user_id %>
        <%= link_to '編集', "/posts/#{post.id}/edit", method: :get, class: 'btn btn-outline-primary3' %>
        <%= link_to '削除', "/posts/#{post.id}", method: :delete, data:{ confirm: '本当に削除しますか？' }, class: 'btn btn-outline-primary3' %>

      <% end %>
      <hr>
    <% end %>
    <%= paginate(@posts) %>
  </div>
</div>