<div class="contents row">
  <div class="container mt-4">
    <p><%= @name %>さんの投稿一覧</p>

    <% @posts.each do |post| %>
      タイトル：<%= post.title %><p></p>
      <%= simple_format(post.detail) %>
      <%= audio_tag post.file, controls: true %>
      <hr>
    <% end %>
    <%= paginate(@posts) %>
  </div>
</div>