<%# <div class="card col-sm-5 mx-auto mt-5"> %>
  <%# <div class="card-body"> %>
    <%# <h3 class="mt-1 mb-3">ログイン</h3> %>
    <%# <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %> %>
    <%# <div class="form-group"> %>
      <%# <%= f.label :email, "メールアドレス", :class => "form-label" %> %>
      <%# <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %> %>
    <%# </div> %>
 <%#  %>
    <%# <div class="form-group"> %>
      <%# <%= f.label :password, "パスワード", :class => "form-label" %> %>
      <%# <%= link_to "パスワードを忘れた場合", new_user_password_path, :class => "float-right" %>
      <%# <%= f.password_field :password, :class => "form-control" %> %>
    <%# <% if devise_mapping.rememberable? %> %>
    <%# <div class="form-check"> %>
      <%# <%= f.check_box :remember_me, :class => "form-check-input" %> %>
      <%# <%= f.label :remember_me, "ログインを記憶", :class => "form-check-label" %> %>
    <%# </div> %>
    <%# <% end %> %>
    <%# </div> %>
 
    <%# <div class="actions"> %>
      <%# <%= f.submit "ログイン", :class => "btn btn-primary btn-block" %> %>
    <%# </div> %>
    <%# <% end %> %>
 
    <%# <div class="small text-muted text-center mt-4">新しいユーザですか?</div> %>
    <%# <%= link_to "アカウントを作成", new_user_registration_path, :class => "btn btn-light btn-block border mt-1" %> %>
  <%# </div> %>
<%# </div> %>

<div class="container">
  <div class="welcome">
    <div class="pinkbox">
      <div class="signup nodisplay">
        <h1>新規登録</h1>

        <%# <form autocomplete="off">
          <input type="text" placeholder="username">
          <input type="email" placeholder="email">
          <input type="password" placeholder="password">
          <input type="password" placeholder="confirm password">
          <button class="button submit">アカウントを作成</button>
        </form> %>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
    
        <div class="form-group">
          <%= f.label :name, "ニックネーム" %> <span class="small">(最大<%= 20 %>字まで)</span>
          <%= f.text_field :name, autofocus: true, maxlength: "20" , :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email, "メールアドレス", :class => "form-label" %>
          <%= f.email_field :email, autocomplete: "email", :class => "form-control" %>
        </div>

        <div class="form-group"> 
          <%= f.label :password, "パスワード", :class => "form-label" %> <span class="small">(最低<%= 6 %>文字以上)</span>
          <%= f.password_field :password, :class => "form-control" %>  <%# @minimum_password_length %>
        </div>
    
        <div class="form-group">
          <%= f.label :password_confirmation, "もう一度パスワードを入力してください", :class => "form-label" %>
          <%= f.password_field :password_confirmation, :class => "form-control" %>
        </div>
    
        <div class="actions">
          <%= f.submit "アカウントを作成する", :class => "btn btn-primary btn-block" %>
        </div>
        <% end %>

      </div>



      <div class="signin">
        <h1>ログイン</h1>

        <%# <form class="more-padding" autocomplete="off">
          <input type="text" placeholder="username">
          <input type="password" placeholder="password">
          <div class="checkbox">
            <input type="checkbox" id="remember" /><label for="remember">remember me</label>
          </div>
          <button class="button submit">ログイン</button>
        </form> %>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email, "メールアドレス", :class => "form-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
          </div>
    
          <div class="form-group">
            <%= f.label :password, "パスワード", :class => "form-label" %>
            <%# <%= link_to "パスワードを忘れた場合", new_user_password_path, :class => "float-right" %>
            <%= f.password_field :password, :class => "form-control" %>
            
          <% if devise_mapping.rememberable? %>
            <div class="form-check">
              <%= f.check_box :remember_me, :class => "form-check-input" %>
              <%= f.label :remember_me, "ログインを記憶", :class => "form-check-label" %>
            </div>
          <% end %>
        </div>
    
          <div class="actions">
            <%= f.submit "ログイン", :class => "btn btn-primary btn-block" %>
            <% end %>
          </div>


      </div>
    </div>





    <div class="leftbox">
      <h2 class="title">Melody<br>Forest</h2>
      <%# <p class="desc">pick your perfect</p> %>
      <img class="flower smaller" src="https://image.ibb.co/d5X6pn/1357d638624297b.jpg" alt="1357d638624297b" border="0">
      <p class="account">既にアカウントをお持ちの場合はこちら</p>
      <button class="button" id="signin">ログイン</button>
    </div>


    <div class="rightbox">
      <h2 class="title">Melody<br>Forest</h2>
      <%# <p class="desc"> pick your perfect </p> %>
      <img class="flower" src="https://preview.ibb.co/jvu2Un/0057c1c1bab51a0.jpg"/>
      <p class="account">アカウントをお持ちでない場合はこちら</p>
      <button class="button" id="signup">新規登録</button>
    </div>


  </div>
 </div>