<div class="contents row">
  <div class="container mt-4">
  
    <h3>編集する</h3>
  <div class="bg-back-light pr-5">
    <%= form_with(model: @post, local: true) do |form| %>
      <span>タイトル</span>
      <%= form.text_field :title, placeholder: "title" , :class=>"form-control"%><p></p>
      <%= audio_tag @post.file, controls: true %><p>
      <span>詳細</span>
      <%= form.text_area :detail, placeholder: "detail" , rows: "3", :class=>"form-control" %><p></p>
      <%= form.submit "更新", :class=>"btn btn-primary" %>
    <% end %><hr><p></p>
  </div>
  </div>
</div>