<div class="contents row">
  <div class="container mt-4">
    <div class="more bg-back-light">

      <span>投稿者：</span><a href="/users/<%= @post.user.id %>"><%= @post.user.name %></a><p></p>
      <span>タイトル：</span><%= @post.title %><p></p>
      <%= @post.detail %><p></p>
      <%= audio_tag @post.file, controls: true %><p>

      <% if user_signed_in? && current_user.id == @post.user_id %>
        <%= link_to '編集', "/posts/#{@post.id}/edit", method: :get, :class=>"btn btn-outline-primary3" %>
        <%= link_to '削除', "/posts/#{@post.id}", method: :delete, data:{ confirm: '本当に削除しますか？' }, :class=>"btn btn-outline-primary3" %>
      <% end %><p></p>
    </div>

      <hr>
      <div class="comments">
        <h4>コメント一覧</h4>
        <% if @comments %>
          <% @comments.each do |comment| %><p></p>
              <%= link_to comment.user.name, "/users/#{comment.user_id}" %>：
              <%= comment.text %>
            </p>
          <% end %>
        <% end %>
      </div>

      <% if current_user %>
        <%= form_with(model: [@post, @comment], local: true, id: "new_comment") do |form| %>
          <%= form.text_area :text, placeholder: "コメントする", rows: "2" , :class=>"form-control" %><p></p>
          <%= form.submit "送信", :class=>"btn btn-primary" %>
        <% end %>
      <% else %>
        <strong><p>※コメントの投稿には新規登録/ログインが必要です</p></strong>
      <% end %><p></p>

  </div>
</div>

<%#参考 https://master.tech-camp.in/curriculums/3633#3 %>