<div class ="contents row">

    <div class="more">

      <div class="container">
        <%= simple_format(@post.title) %>
        <%= @post.file %>
        <%= @post.detail %>
      </div>


      <ul class="more_list">
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <li>
          <%= link_to '編集', "/posts/#{@post.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/posts/#{@post.id}", method: :delete %>
        </li>
      <% end %>
      </ul>

    </div>

</div>

<%#参考 https://master.tech-camp.in/curriculums/3633#3 %>